$logo-font: "Lobster", cursive;
$vn-font: "Vollkorn", serif;
$eng-font: "Poppins", sans-serif;
$white-color: #fff;
$green-color: #25c0b2;
$primary-color: #ec7532;
$dark-color: #1f2128;
$light-color: #242731;
$border-color: #273252;
$gray-dark: #282f3a;
$gray-darker: #252b36;
$blue-color: #4944f2;
$gray-light: #6a727f;
